/* Logo */
header img {
    width: 200px; /* Ajusta el tamaño del logo a 200px */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Asegura que el logo no se salga del contenedor */
    display: block;
    margin: 0 auto 10px; /* Centra el logo y añade un margen en la parte inferior */
}

/* Paleta de colores */
:root {
    --azul-claro: #3a7bd5; /* Azul claro */
    --azul-medio: #1e4b89; /* Azul medio */
    --azul-oscuro: #162d3f; /* Azul oscuro */
    --gris-claro: #F5F5F5; /* Gris claro */
}

/* Fondo estilo digital con gradiente azul y oscuro */
body {
    background: linear-gradient(135deg, var(--azul-claro), var(--azul-oscuro)); /* Gradiente de azul claro a azul oscuro */
    background-size: cover;
    background-position: center;
    color: var(--gris-claro); /* Textos claros para contraste */
    font-family: Arial, sans-serif; /* O una fuente digital si la prefieres */
}

/* Estilos para el título */
h1 {
    font-size: 4rem; /* Título más grande */
    background: linear-gradient(to right, var(--azul-claro), var(--azul-oscuro)); /* Gradiente de azul claro y oscuro */
    color: var(--azul-oscuro); /* Color negro azulado para el texto */
    text-align: center; /* Centra el título */
    padding: 20px; /* Espacio adicional para que el gradiente y la sombra se vean bien */
    text-shadow: 
        0 0 10px #fff,   /* Sombra blanca alrededor para mejorar el contraste */
        0 0 20px var(--azul-claro), 
        0 0 25px var(--azul-medio); /* Efecto de neón con sombras más definidas */
}

/* Estilo para el subtítulo en el header */
header p {
    font-size: 2.5rem; /* Aumenta el tamaño del texto */
    font-weight: bold; /* Hacer el texto más grueso */
    color: var(--azul-oscuro); /* Color negro azulado */
    text-align: center; /* Centra el subtítulo */
    text-shadow: 
        0 0 10px #fff,   /* Sombra blanca alrededor para mejorar el contraste */
        0 0 20px var(--azul-claro), 
        0 0 30px var(--azul-medio); /* Efecto de neón alrededor del texto */
    margin-top: 10px; /* Añadir un poco de espacio arriba */
}

/* Estilo para subtítulos (h2, h3) */
h2, h3 {
    color: var(--azul-oscuro); /* Color negro azulado */
    text-shadow: 
        0 0 10px #fff,   /* Sombra blanca alrededor para mejorar el contraste */
        0 0 20px var(--azul-claro); /* Efecto de neón sutil */
}

/* Botones */
button {
    background-color: var(--azul-claro);
    color: var(--gris-claro);
    border: 2px solid var(--azul-oscuro);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: var(--azul-oscuro);
    transform: scale(1.05);
}

/* Enlaces */
a {
    color: var(--azul-claro);
    text-decoration: none;
}

a:hover {
    color: var(--azul-oscuro);
}
